{% macro btn(params) %}
    <a href="{{params.link | sanitySlug}}" class="button button--{{params.style}} {% if params.size!=='default' %}button--{{params.size}}{% endif %}">{{params.text}}</a>
{% endmacro %}