.button {
  @include button;

  &--primary {
    @include button-style(primary);
  }

  &--secondary {
    @include button-style(secondary);
  }

  &--tertiary {
    @include button-style(tertiary);
  }

  &--plain {
    @include button-style(plain);
  }

  &--small {
    @include button-size(small);
  }

  &--large {
    @include button-size(large);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--link {
    padding: 0;
    color: $color-link;
  }

  &--link-external {
    @include type-style(note);

    padding: 0;
    color: palette(blue);

    svg {
      vertical-align: middle;
    }
  }

  &--pdf {
    .icon-pdf {
      margin-top: rem(-10);
      margin-right: rem(12);
      margin-bottom: rem(-10);
      vertical-align: top;
    }
  }

  &--two-line {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: rem(9) rem(28);
  }

  &--menu {
    @include type-style(menu);

    padding: rem(7) space(3);
  }

  &--icon {
    padding-top: 0;
    padding-bottom: 0;

    .button__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(48);
    }

    .button__icon {
      display: flex;
      max-height: rem(32);
      margin-right: rem(8);
    }

    img {
      display: block;
      max-width: 2em;
    }
  }

}

.link-button {
  font-family: $fontstack-blender;
  color: black;
  font-weight: 300;
}
