.index-page-hero {
  position: relative;
}

.index-page-hero__background {
  background: palette(grey-80);
  background: linear-gradient(180deg, palette(grey-90), palette(grey-60));
  height: rem(539);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &.index-page-hero__background-index {
    height: 100%;
  }
}

.index-page-hero__content {
  p {
    max-width: rem(600);
  }
}
