@mixin form-element() {
  margin-bottom: space(3);
}

@mixin form-label() {
  @include type-style("subtitle");

  display: block;
  margin-bottom: space(1);
}

@mixin form-input() {
  @include type-style("body-1");

  width: 100%;
  height: $form-input-height;
  padding: rem(8) space(2) rem(10);
  color: palette(grey-50);
  border: 1px solid palette(grey-20);
  border-radius: 4px;

  &::placeholder {
    color: palette(grey-40);
  }

  @include media($min: bp(sm)) {
    font-size: rem(20);
  }
}

@mixin form-textarea() {
  @include form-input;
}

@mixin form-select() {
  @include form-input;

  background: {
    color: transparent;
    image: svg-url(
      '<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="#{$color-input-border}"/></svg>'
    );
    repeat: no-repeat;
    position: right space(3) top 50%;
  }

  border-radius: 0;
  appearance: none;
}

@mixin form-checkbox-label-input($checked: false) {
  &::before {
    @if $checked {
      content: svg-url(
        '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$color-input-border}" d="M11 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597zm11-15v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg>'
      );
    } @else {
      display: inline-block;
      margin-right: space(2);
      vertical-align: middle;
      content: svg-url(
        '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$color-input-border}" d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z"/></svg>'
      );
    }
  }
}
