.flight-school-logo {
  max-width: rem(400);
  width: 100%;
}

.index-page-hero__background--flight-school {
  background: rgb(1, 8, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 8, 26, 1) 0%,
    rgba(50, 78, 96, 1) 100%
  );
}

.index-page-hero__background-episode {
  height: rem(636);
}
