{% from '../../macros/image.njk' import image %}

<div className="{{ {
  "simple-hero-module bgc-black color-white pb-3 pb-md-7": true,
  "simple-hero-module--header-image": currentModule.headerImage,
  "{{ currentModule.headerImage}}": currentModule.headerImage
} | classnames }}" style="background-image:url('{% imageUrlFor currentModule.bgImage.asset %}');">

    <div className="hero-text container--medium container">
        <div className="col-xs-full image-content">
            {% if currentModule.headerImage %}
                {% responsiveImage currentModule.headerImage.asset, undefined, "90%", "bg-image" %}
              {{ image(currentModule.headerImage) }}
            {% endif %}
            {% if currentModule.mobileHeaderImage %}
                <div className="bg-image-mobile-wrapper">
                    {% responsiveImage currentModule.mobileHeaderImage.asset, undefined, "1080px" %}
                    {{ image(currentModule.mobileHeaderImage) }}
                </div>
            {% endif %}
        </div>
        <div className="col-xs-full header-content">
            <p className="type-new-h1 nl2br">{{currentModule.subheader}}</p>
            <p></p>
        </div>
    </div>
</div>
