{%- from "macros/button/index.njk" import btn -%}
{%- from "macros/image.njk" import img -%}
{%- from "macros/background-image.njk" import bg -%}
{%- call bg(currentModule.bgImage,"simple-hero-module bgc-black color-white pb-3 pb-md-7") -%}
<div class="hero-text container--medium container">
    <div class="col-xs-full image-content">
        {%- if currentModule.headerImage -%}
            {{img(currentModule.headerImage,"bg-image")}}
        {%- endif -%}
        {%- if currentModule.mobileHeaderImage -%}
            <div class="bg-image-mobile-wrapper">
                {{img(currentModule.mobileHeaderImage,"bg-image")}}
            </div>
        {%- endif -%}
    </div>
    <div class="col-xs-full header-content">
        {{img(currentModule.logo)}}
        <p>{{header | dump }}</p>
        <p class="type-new-h1 nl2br">{{currentModule.subheader | escape | nl2br | trim }}</p>
        <div className="button-group mt-3">
            {% for button in currentModule.buttons %}
                {{btn(button)}}
            {% endfor %}
        </div>
    </div>
</div>
{%- endcall -%}