---
pagination:
  alias: context
  data: threedscans
  size: 1
  addAllPagesToCollections: true
permalink: /{{ context.permalink }}/index.html
---
{% extends "layouts/3d-scan-gallery/post.njk" %}

{% block content %}
{% endblock %}
