---
title: 3D Scan Gallery
pagination:
  alias: context
  data: threeDScanIndex
  size: 1
permalink: /{{ context.permalink }}/index.html
---
{% extends "layouts/blog/index.njk" %}

{% block content %}
  <h1>{{ context.data.content.main.title }}</h1>
  {% for post in context.data.posts %}
    <p>{{ post.data.content.main.title }}</p>
  {% endfor %}
{% endblock %}