---
layout: layouts/3d-scan-gallery/post.njk
pagination:
  alias: post
  data: threedscans
  size: 1
  addAllPagesToCollections: true
permalink: /3d-scan-gallery/{{ post.content.main.slug.current | slug }}/index.html
---