---
title: Blog
pagination:
  alias: context
  data: blogPostIndex
  size: 1
permalink: /{{ context.permalink }}/index.html
---
{% extends "layouts/blog/index.njk" %}

{% block content %}
  {% for post in context.posts %}
    <h2>{{ post.content.main.title }}</h2>
  {% endfor %}
{% endblock %}
