---
title: Blog
pagination:
  alias: index
  data: blogPostIndexes
  size: 1
permalink: /{{ index.path }}/index.html
---
{% extends "layouts/blog/index.njk" %}

{% block content %}
  {% for post in index.context.posts %}
    <p>{{ post.content.main.title }}</p>
  {% endfor %}
{% endblock %}
