---
tags:
  - myPosts
pagination:
  alias: post
  data: flightschool
  size: 1
  addAllPagesToCollections: true
permalink: /{{ context.permalink }}/index.html
---
{% extends "layouts/flight-school/post.njk" %}

{% block content %}

{% endblock %}
