---
title: Home Page
pagination:
  alias: context
  size: 1
  data: homepage
permalink: /
---
{% layout "layouts/home.liquid" %}

HOMEPAGE TEMPLATE
{% assign page = context.data %}

{% block content %}
  <h1>{{page.content.main.title}}</h1>
  {% for module in page.content.main.modules %}
      {% assign currentModule = module %}
      {% render "modules/{{module._type}}/index.liquid", currentModule: module %}
  {% endfor %}
{% endblock %}
