---
pagination:
  alias: context
  size: 1
  data: landingPages
permalink: /{{ context.localePath }}/index.html
renderData:
  title: "{{context.page.content.main.title}}"
---
{% extends "layouts/home.njk" %}

LANDING PAGE TEMPLATE
{% block content %}
  {% set page = context.data %}
  {% include "modules/landingPageContent/index.njk" %}
{% endblock %}
