---
pagination:
  alias: context
  size: 1
  data: landingPages
permalink: /{{ context.permaLink }}/index.html
renderData:
  title: "{{context.data.content.main.title}}"
---
{% extends "layouts/inc/base.njk" %}
{% from "macros/index.njk" import meta %}
{% set page = context.data %}

{% block head %}
  {{ super() }}
  {{ meta(context, global, {
    url: context.baseUrl + "/" + context.permaLink + "/"
  }, true) }}
{% endblock %}

{% block content %}
  {% include "modules/landingPageContent/index.njk" %}
{% endblock %}
